.container {
    width: 80%;
    margin: auto;
    text-align: center;
}

.dice {
    text-align: center;
    display: inline-block;
    margin: 10px;
    
}

body {
    height: 100vh;
    background:linear-gradient(
        #429261,
        #80d1bd
    );
    margin: 0;
}

h1 {
    margin: 30px;
    font-family: "Lobster", cursive;
    text-shadow: 5px 0 #232931;
    font-size: 4.5rem;
    color: #050d6a;
    text-align: center;
}

p {
    font-size: 3rem;
    color: #161e1b;
    font-family: "Indie Flower", cursive;
}

img {
    width: 100%;
}

.bottom {
    padding-top: 30px;
}

.btn {
    background: #050d6a;
    font-family: "Indie Flower", cursive;
    border: none;
    border-radius: 7px;
    color: #eeebeb;
    font-size: 30px;
    padding: 16px 25px 16px 25px;
    text-decoration: none;
}

.btn:hover {
    background: #07503ec7;
    text-decoration: none;
    cursor: pointer;;
}


.even-roll {
transition: transform 1.5s ease-out;
}
.odd-roll {
transition: transform 1.25s ease-out;
}